# IDE metadata (STM32CubeIDE is Eclipse-based)
.vscode/
.github/
.settings/
.metadata/
.mxproject/
.externalToolBuilders/
.cproject
.project
*.launch
*.stm32cubeide.*
*.log
*.tmp
*.user
.idea/

# Build artifacts
Debug/
Release/
**/Debug/
**/Release/
build/
out/
*.o
*.obj
*.d
*.elf
*.axf
*.bin
*.hex
*.map
*.lst
*.srec
*.su
*.i
lib*.a

# Memory dumps & traces
*.dmp
*.stackdump
*.trace

# OS / editor cruft
*.swp
*.swo
*.swd
*.bak
*.orig
Thumbs.db
.DS_Store

#custom
Library/
**.pyc
__pycache__/
venv/


**/credentials.h
esp32_bridge/include/credentials.h
